* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

header {
  background-color: rgb(240, 240, 240);
  color: white;
  padding: 30px;
  grid-area: header;
  text-align: center;
}
main {
  background-color: rgb(255, 255, 255);
  grid-area: main;
  padding: 150px;
}

footer {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  grid-area: footer;
  transform: translate(0px, -500px);
}

nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.intro-text {
  margin-top: 20px;
  bottom: 40px;
  transform: translate(0px, -30px);
  font-size: 20px;
  color: black;
}

header p {
  bottom: 40px;
  transform: translate(0px, -15px);
  font-size: 15px;
  color: black;
  margin-top: 20px;
}

main h1 {
  font-size: 18px;
  transform: translate(-100px, -160px);
}

.struggle-text {
  transform: translate(90px, -160px);
}

.imgcode {
  transform: translate(30px, -145px);
  padding-bottom: 150px;
  background-color: rgba(0, 0, 0, 0.1);
}

.imghamburger {
  transform: translate(100px, -148px);
  padding-bottom: 150px;
  background-color: rgba(0, 0, 0, 0.1);
}
.hamburger-text {
  transform: translate(590px, -140px);
}

.imgstudy {
  transform: translate(260px, -100px);
  padding-bottom: 150px;
  background-color: rgba(0, 0, 0, 0.1);
}

.text-studying {
  transform: translate(350px, -530px);
}

.studying-blog {
  transform: translate(265px, -255px);
}

.studyingdate-blog {
  transform: translate(265px, -270px);
  color: orangered;
  font-size: 15px;
}

.hamburger-blog {
  transform: translate(510px, -800px);
}
.hamburgerdate-blog {
  transform: translate(507px, -815px);
  color: orangered;
  font-size: 15px;
}

.struggledate-blog {
  transform: translate(32px, -905px);
  color: orangered;
  font-size: 15px;
}

.struggle-blog {
  transform: translate(35px, -890px);
}

.myarticle {
  display: none;
}

.read-struggle {
  transform: translate(190px, -860px);
}

.read-hamburger {
  transform: translate(675px, -770px);
}
.read-study {
  transform: translate(430px, -225px);
}
a:link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}

/* Nav below */
#hamburger-navigation {
  width: 100%;
}

/* Display flex  */
#items li {
  display: inline;
  padding-left: 200px;
}

#items a {
  color: white;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  flex-basis: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

#items a:hover {
  background-color: #f89b5d;
  transition: 1.4s;
  padding: 10px;
}

/* To hide hamburger */
#hamburger-navigation label,
#hamburger {
  display: none;
}
