* {
  margin: 0;
  padding: 0px;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  background-image: url(contact.jpg);
  background-size: cover;
}

nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Nav below */
#hamburger-navigation {
  width: 100%;
}

/* Display flex  */
#items li {
  display: inline;
  padding-left: 200px;
}

#items a {
  color: white;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  flex-basis: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

#items a:hover {
  background-color: #f89b5d;
  transition: 1.4s;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* To hide hamburger */
#hamburger-navigation label,
#hamburger {
  display: none;
}

main {
  color: white;
  grid-area: main;
  text-align: center;
  padding: 57px 0;
}

footer {
  color: white;
  grid-area: footer;
  transform: translate(0px, 80px);
}

.form {
  padding: 0 11px;
  margin: auto;
  max-width: 600px;
}

.form_input {
  display: block;
  width: 95%;
  margin: 15px 0;
  padding: 15px 25px;
  outline: none;
  background: black;
  color: white;
  transition: 0.7s;
  resize: none;
}

.form_input:focus {
  box-shadow: 1px 1px 15px 5px rgb(255, 0, 0);
}

.btn {
  padding: 15px 20px;
  cursor: pointer;
  transition: 0.4s;
  background-color: black;
  color: white;
}

.btn:hover {
  background: red;
}
