* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(76, 76, 89);
}
body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}
header {
  background-color: rgb(76, 76, 89);
  color: white;
  padding: 30px;
  grid-area: header;
  text-align: center;
  margin-bottom: 10px;
}
nav {
  background-color: rgb(0, 0, 0);
  grid-area: nav;
}

main {
  background-color: rgb(76, 76, 89);
  color: rgb(255, 255, 255);
  grid-area: main;
}

footer {
  background-color: darkgreen;
  color: white;
  grid-area: footer;
}

/* Nav below */
#hamburger-navigation {
  width: 100%;
  background: rgb(24, 21, 21);
}

/* Display flex  */
#items {
  display: flex;
}

#items a {
  color: white;
  background-color: #030303;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  flex-basis: 0;
  padding: 9px;
}
#items a:hover {
  background: #b51515;
  transition: 0.5s;
}

/* To hide hamburger */
#hamburger-navigation label,
#hamburger {
  display: none;
}

.name:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: sans-serif;
}

.name:visited {
  color: #ffffff;
}

.name:hover {
  text-decoration: wavy;
  background-color: rgb(255, 0, 0);
  transition: 00.5s;
}

.name:active {
  color: beige;
}

.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: rgb(76, 76, 89);
}

/* main text box editing */
