/* Congratulations! No Error Found. */

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  background-image: url(Sky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2000px;
}
header {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  grid-area: header;
  text-align: left;
  font-size: 10px;
}
nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.5);
}

main {
  color: rgb(206, 203, 203);
  grid-area: main;
  text-align: center;
}

footer {
  color: white;
  grid-area: footer;
}

main h1 {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  transform: translate(0px, 150px);
}

main p {
  margin-top: 20px;
  font-family: sans-serif;
  transform: translate(0px, 150px);
}

/* Styling liks below */

.name:link {
  color: rgb(206, 203, 203);
  text-decoration: none;
  font-family: sans-serif;
}

.name:visited {
  color: rgb(206, 203, 203);
}

.name:hover {
  text-decoration: wavy;
  background: #f89b5d;
  transition: 1.5s;
  padding: 10px;
  padding-left: 10px;
}

.name:active {
  color: rgb(206, 203, 203);
  text-decoration: solid;
}

.footer {
  transform: translate(0px, 360px);
}

/* Nav below  system */
#hamburger-navigation {
  width: 100%;
}

/* Display flex  */
#items li {
  display: inline;
  padding-left: 200px;
}

#items a {
  color: white;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  flex-basis: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

#items a:hover {
  background-color: #f89b5d;
  transition: 1.4s;
  padding-top: 20px;
}

/* To hide hamburger */
#hamburger-navigation label,
#hamburger {
  display: none;
}

main h1 {
  animation-duration: 2.5s;
  animation-name: h1slideanimate;
  animation-iteration-count: 2;
}

@keyframes h1slideanimate {
  from {
    margin-left: 100%;
    width: 100%;
  }

  100% {
    font-size: 1000%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 90%;
  }
}

main p {
  animation-duration: 1.5s;
  animation-name: pslideanimate;
}

@keyframes pslideanimate {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 90%;
  }
}
