body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}
header {
  background-color: rgb(76, 76, 89);
  color: white;
  padding: 20px;
  grid-area: header;
  text-align: center;
  margin-bottom: 10px;
}

nav {
  background-color: yellow;
  grid-area: nav;
}

main {
  background-color: rgb(76, 76, 89);
  color: white;
  grid-area: main;
  padding: 200px;
}
footer {
  background-color: darkgreen;
  color: white;
  grid-area: footer;
}

#items a {
  display: block;
  width: 100%;
}

/* For icon */
#hamburger-navigation label {
  color: white;
  background: #eb1313;
  padding: 9px;
  display: inline-block;
  font-style: italic;
  font-size: 1.3em;
}

/* toggle */
#items {
  display: none;
}
#hamburger-navigation input:checked ~ #items {
  display: block;
}

.name:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: sans-serif;
}

.name:visited {
  color: #ffffff;
}

.name:hover {
  text-decoration: wavy;
  background: #af0d0d;
}

.name:active {
  color: beige;
}

.footer {
  background-color: rgb(76, 76, 89);
}

.Welcome {
  text-align: center;
}
