* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  background-image: url(Sky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2000px;
}
header {
  color: white;
  padding: 20px;
  grid-area: header;
  text-align: left;
  margin-bottom: 10px;
  font-size: 10px;
}
nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.5);
}

main {
  color: rgb(206, 203, 203);
  grid-area: main;
  text-align: center;
}

footer {
  color: white;
  grid-area: footer;
}

#items a {
  display: block;
  transform: translate(0px, -30px);
}

/* For icon */
#hamburger-navigation label {
  color: white;
  background: #f89b5d;
  padding: 8px;
  display: inline-block;
  font-style: italic;
  font-size: 1.3em;
}

/* toggle */
#items {
  display: none;
}
#hamburger-navigation input:checked ~ #items {
  display: block;
}

.name:link {
  color: rgb(206, 203, 203);
  text-decoration: none;
  font-family: sans-serif;
}

.name:visited {
  color: rgb(206, 203, 203);
}

.name:hover {
  text-decoration: wavy;
  background: #f89b5d;
  transition: 0.4s;
  padding: 5px;
}

.name:active {
  color: rgb(206, 203, 203);
}

.footer {
  transform: translate(0px, 410px);
}

main h1 {
  transform: translate(0px, 100px);
  text-transform: uppercase;
}

main p {
  transform: translate(0px, 100px);
}
