* {
  margin: 0;
  padding: 0px;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  background: url(contact.jpg) center;
  background-size: cover;
}

main {
  color: white;
  grid-area: main;
  text-align: center;
  padding: 57px 0;
}

footer {
  color: white;
  grid-area: footer;
  transform: translate(0px, 260px);
}

.form {
  padding: 0 11px;
  margin: auto;
  max-width: 600px;
}

.form_input {
  display: block;
  width: 95%;
  margin: 15px 0;
  padding: 15px 25px;
  outline: none;
  background: black;
  color: white;
  transition: 0.7s;
  resize: none;
}

.form_input:focus {
  box-shadow: 1px 1px 15px 5px rgb(255, 0, 0);
}

.btn {
  padding: 15px 20px;
  cursor: pointer;
  transition: 0.4s;
  background-color: black;
  color: white;
}

.btn:hover {
  background: red;
}

#items a {
  display: block;
  transform: translate(0px, -30px);
}

/* For icon */
#hamburger-navigation label {
  color: white;
  background: #f89b5d;
  padding: 8px;
  display: inline-block;
  font-style: italic;
  font-size: 1.3em;
}

/* toggle */
#items {
  display: none;
}
#hamburger-navigation input:checked ~ #items {
  display: block;
}

nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.5);
}
