* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  background-image: url(Sky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2000px;
}
header {
  color: white;
  padding: 20px;
  grid-area: header;
  text-align: left;
  margin-bottom: 10px;
  font-size: 10px;
}
nav {
  grid-area: nav;
}

main {
  color: white;
  grid-area: main;
  position: relative;
  top: 140px;
  right: 30px;
  text-align: center;
}

footer {
  color: white;
  grid-area: footer;
}

#items a {
  display: block;
  width: 100%;
}

/* For icon */
#hamburger-navigation label {
  color: white;
  background: #eb1313;
  padding: 9px;
  display: inline-block;
  font-style: italic;
  font-size: 1.3em;
}

/* toggle */
#items {
  display: none;
}
#hamburger-navigation input:checked ~ #items {
  display: block;
}

.name:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: sans-serif;
}

.name:visited {
  color: #ffffff;
}

.name:hover {
  text-decoration: wavy;
  background: #f89b5d;
  transition: 0.4s;
  padding: 5px;
}

.name:active {
  color: beige;
}

.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
}

main h1 {
  font-size: 60px;
  font-family: sans-serif;
}

main p {
  margin-top: 20px;
  font-family: sans-serif;
}
