* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header "
    "nav nav"
    "main aside"
    "footer footer ";
  background-image: url(Sky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11000px;
  margin: auto;
}

nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  padding: 20px;
}

header {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  grid-area: header;
  text-align: left;
  font-size: 10px;
}
main {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  grid-area: main;
  text-align: center;
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 20px;
}

aside {
  margin-top: 20px;
  grid-area: aside;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 60px;
}

main h3 {
  text-align: left;
}
footer {
  color: white;
  grid-area: footer;
}

/* Nav below  system */
#hamburger-navigation {
  width: 100%;
}

/* Display flex  */
#items li {
  display: inline;
  padding-left: 200px;
}

#items a {
  color: white;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  flex-basis: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

#items a:hover {
  background-color: #f89b5d;
  transition: 1.4s;
  padding-top: 20px;
}

/* To hide hamburger */
#hamburger-navigation label,
#hamburger {
  display: none;
}

.INDEXvalidator {
  height: 400px;
  width: 400px;
}

.PortfolioValidator {
  height: 400px;
  width: 400px;
}

.contact {
  height: 400px;
  width: 400px;
}

.blog {
  height: 400px;
  width: 400px;
}
.CSSindex {
  height: 400px;
  width: 400px;
}

.mobileindex {
  height: 400px;
  width: 400px;
}

.cssporto {
  height: 400px;
  width: 400px;
}

.mobileP {
  height: 400px;
  width: 400px;
}

.contactcss {
  height: 400px;
  width: 400px;
}

.contactmobilecss {
  height: 400px;
  width: 400px;
}

.blogcss {
  height: 400px;
  width: 400px;
}

.mobileblogcss {
  height: 400px;
  width: 400px;
}

aside h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

header h1 {
  text-align: center;
  font-size: 30px;
}

main h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-intro {
  transform: translate(10px, -45px);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.csssitereport {
  height: 400px;
  width: 400px;
}

.mobilesitereport {
  height: 400px;
  width: 400px;
}
.htmlsitereport {
  height: 400px;
  width: 400px;
}
